<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue JS</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <ul>
      <li v-for="(ingredient, key) in ingredients">{{ ingredient }} ({{ key }})</li>
    </ul>

    <hr>
      <ul>
        <li v-for="person in persons">
          <div v-for="(val, key, index) in person">{{ key }}: {{ val }} ({{ index }})</div>
        </li>
      </ul>

      <span v-for="n in 10">{{ n }}</span>
    <hr>

    <template v-for="(ingredient, key) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>{{ key }}</p>
    </template>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        ingredients: [ 'meat', 'fruit', 'cookies' ],
        persons: [
          { name: 'Cris', age: 27, color: 'red' },
          { name: 'Aisha', age: 'unknow', color: 'blue' },
        ]
      }
    })
  </script>
</body>
</html>